<h1>Puppy Adoption</h1>
<a href=/welcome>"Click Here To List A Puppy"></a>
<form method="POST" action="/new">
  <p>Puppy's Name: <input type="text" name="name"></p>
  <p>Puppy's Breed: <input type="text" name="breed"></p>
  <p>Puppy's Age: <input type="text" name="age"></p>
  <textarea name="user_text"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
